<!--================ Start Forgot Password Area =================-->

<!--================ Start Content Area =================-->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ================ End Content Area ================= -->
<!-- Alerts -->
<section style="padding-top: 20px;" >
   {%include 'alert.html' %}
</section>
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="login_box_img">
            </div>
         </div>
         <div class="col-lg-6">
            <div class="login_form_inner">
               <h3>Enter Email To Forgot Password</h3>
               <form class="row login_form" method="POST" action="{% url 'send_otp' %}">
                  {% csrf_token %}
                  <div class="col-md-12 form-group">
                     <input name="email" type="text" class="form-control" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                  </div>
                  <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="button  w-100">Send OTP</button>
                 </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<!--================End Login Box Area =================-->
{% endblock %}

<!--================ End Forgot Password Area =================-->